<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>wink cafe</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <!-- header -->
    <div class="medsos">
    	<div class="container">
    		<ul>
                <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="container">
    	<h1><a href="index.html">WINK CAFE</a></h1>
    	<ul>
    		<li class="active"><a href="index.html">HOME</a></li>
    		<li><a href="produc.html">PRODUCT</a></li>
    		<li><a href="contact.html">CONTACT</a></li>
    	</ul>
        </div>
    </header>

    <!-- banner -->
    <section class="banner">
        <h2>WELCOME TO WINK CAFE</h2>
    </section>
    
    <!-- about -->
    <section class="about">
        <div class="container">
            <h3>ABOUT</h3>
            <p>Toko kami pertama kali dibentuk karena tugas PKK membuat katalog produk. Disini kami menyediakan beberapa menu seperti Coffee Pastry dan Dessert dengan berbagai rasa dan topping tentunya menarik untuk  dinikmati. Penasaran? Ikuti terus toko kami untuk melihat menunya!</p>
        </div>
    </section>

    <!-- services -->
    <section class="services">
        <div class="container">
            <h3>Our Products</h3>
            <div class="box">
                <div class="col-4">
                    <div class="icon"></div>
                    <h4>COFFEE</h4>  
                </div>
            </div>
        </div>
    <!-- footer -->
    <footer>
        <div class="container">
            <small> ABOUT US - Adhlia Khairina - Nafizah Nur Fauziah - Sabrina Anastasya.</small>
        </div>
    </footer>        
</body>
</html>